
{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div>
  <h1>Hola, mi nombre es Daniel Carrizo...</h1>  
  <p>
    Este es mi primer curso de programación, el cual ha sido muy desafiante (especialmente en la segunda parte cuando llegamos a Django), sin embargo
    me siento muy contento con todo lo aprendido y aunque sé que siempre se puede mas, con mis tiempos actuales y responsabilidades, hice una gran inversión de esfuerzo que espero se evidencie en el proyecto.  
  </p>
  <p>
    El proyecto lo interpreté como un blog, donde cada post es una Page, que además reutiliza Accounts para la registración, y al cual le asocio un Perfil (Profile) para agregar datos, como el avatar, dirección web y descripción. 
  </p>
  <p>
    Además implementé el Messenger, o mensajero, mediante el cual los distintos usuarios pueden comunicarse internamente, símil a un mail. 
  </p>
  <p>
    Si bien uso Bootstrap, se me complicó mucho la parte visual, cuando haga el curso de desarrollo web podré tener un mejor diseño, mientras tanto usando herencia de templates es lo mejor que pude en el tiempo asignado.
  </p>
  <p>
    <strong>Quiero agradecer al Profe Kevyn Franco y a mi tutor Rafael Reyes por la dedicación, el esfuerzo, y el conocimiento transmitido</strong>, entiendo que aquí no termina sino que es el puntapié inicial. 
  </p>
  <h2>Muchas Gracias!</h2>
</div>
{% endblock %}

